In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
from google.colab import drive

## 【問題1】コンペティション内容の確認

コンペティションのOverviewページ読み、「Home Credit Default Risk」について以下の観点について確認してください。  

・何を学習し、何を予測するのか  
⇨顧客の情報を学習し、返済能力の有無を予測する  

・どのようなファイルを作りKaggleに提出するか  
⇨sample_submission.csv参照  
・提出されたものはどういった指標値で評価されるのか  
⇨AUC(Area Under Curve)で評価される。

## 【問題2】学習と検証  
データを簡単に分析、前処理し、学習、検証するまでの一連の流れを作成・実行してください。

検証にはこのコンペティションで使用される評価指標を用いるようにしてください。  
学習に用いる手法は指定しません。

In [2]:
# データの読み込み
# trainデータの読み込み
drive.mount('/content/drive')
csv_path = "/content/drive/My Drive/Data/home-credit-default-risk/application_train.csv" # ファイル名（パス）を指定する

df = pd.read_csv(csv_path)
print('Training data shape: ', df.shape)
df.head()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
Training data shape:  (307511, 122)

   SK_ID_CURR  TARGET  ... AMT_REQ_CREDIT_BUREAU_QRT AMT_REQ_CREDIT_BUREAU_YEAR
0      100002       1  ...                       0.0                        1.0
1      100003       0  ...                       0.0                        0.0
2      100004       0  ...                       0.0                        0.0
3      100006       0  ...                       NaN                        NaN
4      100007       0  ...                       0.0                        0.0

[5 rows x 122 columns]

In [3]:
# データの確認
df.info

<bound method DataFrame.info of         SK_ID_CURR  ...  AMT_REQ_CREDIT_BUREAU_YEAR
0           100002  ...                         1.0
1           100003  ...                         0.0
2           100004  ...                         0.0
3           100006  ...                         NaN
4           100007  ...                         0.0
...            ...  ...                         ...
307506      456251  ...                         NaN
307507      456252  ...                         NaN
307508      456253  ...                         1.0
307509      456254  ...                         0.0
307510      456255  ...                         1.0

[307511 rows x 122 columns]>

In [4]:
# 数値以外の列を確認
app_train_object = df.select_dtypes('object').columns.tolist()
print('objectの数:',len(app_train_object))
print(app_train_object)

objectの数: 16
['NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'OCCUPATION_TYPE', 'WEEKDAY_APPR_PROCESS_START', 'ORGANIZATION_TYPE', 'FONDKAPREMONT_MODE', 'HOUSETYPE_MODE', 'WALLSMATERIAL_MODE', 'EMERGENCYSTATE_MODE']

In [5]:
# 欠損値を確認
data = df.copy()

missing = data.isnull().sum()[data.isnull().sum()>0].sort_values(ascending=False)
missing_df = pd.DataFrame({'欠損数':missing,
                           '欠損率':missing/len(data)*100})

print('欠損値を含む列数:',len(missing_df))
missing_df.head(20)

欠損値を含む列数: 67

                             欠損数        欠損率
COMMONAREA_MEDI           214865  69.872297
COMMONAREA_AVG            214865  69.872297
COMMONAREA_MODE           214865  69.872297
NONLIVINGAPARTMENTS_AVG   213514  69.432963
NONLIVINGAPARTMENTS_MODE  213514  69.432963
NONLIVINGAPARTMENTS_MEDI  213514  69.432963
FONDKAPREMONT_MODE        210295  68.386172
LIVINGAPARTMENTS_AVG      210199  68.354953
LIVINGAPARTMENTS_MEDI     210199  68.354953
LIVINGAPARTMENTS_MODE     210199  68.354953
FLOORSMIN_AVG             208642  67.848630
FLOORSMIN_MEDI            208642  67.848630
FLOORSMIN_MODE            208642  67.848630
YEARS_BUILD_AVG           204488  66.497784
YEARS_BUILD_MEDI          204488  66.497784
YEARS_BUILD_MODE          204488  66.497784
OWN_CAR_AGE               202929  65.990810
LANDAREA_AVG              182590  59.376738
LANDAREA_MEDI             182590  59.376738
LANDAREA_MODE             182590  59.376738

In [6]:

#TARGETの相関係数を確認
corr = df.corr()['TARGET'].sort_values(ascending=False)

print(corr.head(15))
print(corr.tail(15))

TARGET                         1.000000
DAYS_BIRTH                     0.078239
REGION_RATING_CLIENT_W_CITY    0.060893
REGION_RATING_CLIENT           0.058899
DAYS_LAST_PHONE_CHANGE         0.055218
DAYS_ID_PUBLISH                0.051457
REG_CITY_NOT_WORK_CITY         0.050994
FLAG_EMP_PHONE                 0.045982
REG_CITY_NOT_LIVE_CITY         0.044395
FLAG_DOCUMENT_3                0.044346
DAYS_REGISTRATION              0.041975
OWN_CAR_AGE                    0.037612
LIVE_CITY_NOT_WORK_CITY        0.032518
DEF_30_CNT_SOCIAL_CIRCLE       0.032248
DEF_60_CNT_SOCIAL_CIRCLE       0.031276
Name: TARGET, dtype: float64
LIVINGAREA_MEDI              -0.032739
LIVINGAREA_AVG               -0.032997
FLOORSMIN_MEDI               -0.033394
FLOORSMIN_AVG                -0.033614
ELEVATORS_MEDI               -0.033863
ELEVATORS_AVG                -0.034199
REGION_POPULATION_RELATIVE   -0.037227
AMT_GOODS_PRICE              -0.039645
FLOORSMAX_MODE               -0.043226
FLOORSMAX_MEDI               -0.043768
FLOORSMAX_AVG                -0.044003
DAYS_EMPLOYED                -0.044932
EXT_SOURCE_1                 -0.155317
EXT_SOURCE_2                 -0.160472
EXT_SOURCE_3                 -0.178919
Name: TARGET, dtype: float64

In [7]:
feature = ['DAYS_BIRTH','REGION_RATING_CLIENT_W_CITY']

X = df[feature].values
y = df['TARGET'].values

In [8]:
# 訓練データと、検証データに分割（75:25）
from sklearn.model_selection import train_test_split

X_train, X_valid, y_train, y_valid = \
train_test_split(X, y, test_size=0.25, random_state=0)

In [9]:
#ランダムフォレスト
from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier(max_depth=2, random_state=0)

clf.fit(X_train, y_train)

y_pred = clf.predict_proba(X_valid)[:,1]

In [10]:
# ROC曲線とROC曲線の下領域（AUC）
from sklearn.metrics import roc_curve
from sklearn.metrics import roc_auc_score

fpr, tpr, thresholds = roc_curve(y_valid, y_pred)

print('AUC : ',roc_auc_score(y_valid, y_pred))

AUC :  0.5936451463157663

## 【問題3】テストデータに対する推定  
テストデータ（application_test.csv）に対して推定を行い、Kaggleに提出を行ってください。

正しく提出が行えていれば、精度は低くても構いません。

In [11]:
# testデータの読み込み
csv_path = "/content/drive/My Drive/Data/home-credit-default-risk/application_test.csv" # ファイル名（パス）を指定する

app_test = pd.read_csv(csv_path)
print('Training data shape: ', app_test.shape)
app_test.head()

Training data shape:  (48744, 121)

   SK_ID_CURR  ... AMT_REQ_CREDIT_BUREAU_YEAR
0      100001  ...                        0.0
1      100005  ...                        3.0
2      100013  ...                        4.0
3      100028  ...                        3.0
4      100038  ...                        NaN

[5 rows x 121 columns]

In [12]:
X_test = app_test[feature].values

In [13]:
# テストデータで推定
y_pred = clf.predict_proba(X_test)[:,1]

In [14]:
# Submission dataframe
submit = pd.DataFrame(app_test['SK_ID_CURR'])
submit['TARGET'] = y_pred

submit.head()

   SK_ID_CURR    TARGET
0      100001  0.068575
1      100005  0.069691
2      100013  0.064235
3      100028  0.087221
4      100038  0.093652

In [15]:
# Save the submission dataframe
submit.to_csv('/content/drive/My Drive/Data/home-credit-default-risk/work_submission_baseline.csv', index = False)

## 【問題4】特徴量エンジニアリング  
精度を上げるために以下のような観点で 特徴量エンジニアリング（Feature Engineering） を行ってください。

どの特徴量を使うか  
どう前処理をするか

パターン１　相関の高いもの3つ

In [16]:
feature = ['DAYS_BIRTH','REGION_RATING_CLIENT_W_CITY','REGION_RATING_CLIENT_W_CITY']

X = df[feature].values
y = df['TARGET'].values

# 訓練データと、検証データに分割（75:25）
X_train, X_valid, y_train, y_valid = \
train_test_split(X, y, test_size=0.25, random_state=0)

#ランダムフォレスト
clf = RandomForestClassifier(max_depth=2, random_state=0)

clf.fit(X_train, y_train)

y_pred = clf.predict_proba(X_valid)[:,1]

# ROC曲線とROC曲線の下領域（AUC）
fpr, tpr, thresholds = roc_curve(y_valid, y_pred)

print('AUC : ',roc_auc_score(y_valid, y_pred))

AUC :  0.5975785521810391

ほんの少し精度が上がった

パターン２　相関の高いもの10個（欠損値はdropna())

In [17]:
feature = ['DAYS_REGISTRATION', 'DAYS_BIRTH', 'REGION_RATING_CLIENT_W_CITY', 'REGION_RATING_CLIENT', 'DAYS_LAST_PHONE_CHANGE', 'DAYS_ID_PUBLISH', 'REG_CITY_NOT_WORK_CITY', 'FLAG_EMP_PHONE', 'REG_CITY_NOT_LIVE_CITY', 'FLAG_DOCUMENT_3']

df2 = df[feature + ['TARGET']].dropna()

X = df2[feature].values
y = df2['TARGET'].values

# 訓練データと、検証データに分割（75:25）
X_train, X_valid, y_train, y_valid = \
train_test_split(X, y, test_size=0.25, random_state=0)

#ランダムフォレスト
clf = RandomForestClassifier(max_depth=2, random_state=0)

clf.fit(X_train, y_train)

y_pred = clf.predict_proba(X_valid)[:,1]

# ROC曲線とROC曲線の下領域（AUC）
fpr, tpr, thresholds = roc_curve(y_valid, y_pred)

print('AUC : ',roc_auc_score(y_valid, y_pred))

AUC :  0.619740938932605

ほんの少し精度が上がった

パターン3　相関の高いもの10個（欠損値はfillna(0))

In [18]:
feature = ['DAYS_REGISTRATION', 'DAYS_BIRTH', 'REGION_RATING_CLIENT_W_CITY', 'REGION_RATING_CLIENT', 'DAYS_LAST_PHONE_CHANGE', 'DAYS_ID_PUBLISH', 'REG_CITY_NOT_WORK_CITY', 'FLAG_EMP_PHONE', 'REG_CITY_NOT_LIVE_CITY', 'FLAG_DOCUMENT_3']

df2 = df[feature + ['TARGET']].fillna(0)

X = df2[feature].values
y = df2['TARGET'].values

# 訓練データと、検証データに分割（75:25）
X_train, X_valid, y_train, y_valid = \
train_test_split(X, y, test_size=0.25, random_state=0)

#ランダムフォレスト
clf = RandomForestClassifier(max_depth=2, random_state=0)

clf.fit(X_train, y_train)

y_pred = clf.predict_proba(X_valid)[:,1]

# ROC曲線とROC曲線の下領域（AUC）
fpr, tpr, thresholds = roc_curve(y_valid, y_pred)

print('AUC : ',roc_auc_score(y_valid, y_pred))

AUC :  0.6133526034503045

あまり変わらない

パターン4　相関の高いもの10個（欠損値はdf.mean())

In [19]:
feature = ['DAYS_REGISTRATION', 'DAYS_BIRTH', 'REGION_RATING_CLIENT_W_CITY', 'REGION_RATING_CLIENT', 'DAYS_LAST_PHONE_CHANGE', 'DAYS_ID_PUBLISH', 'REG_CITY_NOT_WORK_CITY', 'FLAG_EMP_PHONE', 'REG_CITY_NOT_LIVE_CITY', 'FLAG_DOCUMENT_3']

df3 = df[feature + ['TARGET']]

df2 = df3.fillna(df.mean())

X = df2[feature].values
y = df2['TARGET'].values

# 訓練データと、検証データに分割（75:25）
X_train, X_valid, y_train, y_valid = \
train_test_split(X, y, test_size=0.25, random_state=0)

#ランダムフォレスト
clf = RandomForestClassifier(max_depth=2, random_state=0)

clf.fit(X_train, y_train)

y_pred = clf.predict_proba(X_valid)[:,1]

# ROC曲線とROC曲線の下領域（AUC）
fpr, tpr, thresholds = roc_curve(y_valid, y_pred)

print('AUC : ',roc_auc_score(y_valid, y_pred))

AUC :  0.6133528353808202

パターン5　相関の低いもの10個（欠損値はdf.mean())

In [20]:
feature = ['ELEVATORS_AVG', 'REGION_POPULATION_RELATIVE', 'AMT_GOODS_PRICE', 'FLOORSMAX_MODE', 'FLOORSMAX_MEDI', 'FLOORSMAX_AVG', 'DAYS_EMPLOYED', 'EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3']

df3 = df[feature + ['TARGET']]

df2 = df3.fillna(df.mean())

X = df2[feature].values
y = df2['TARGET'].values

# 訓練データと、検証データに分割（75:25）
X_train, X_valid, y_train, y_valid = \
train_test_split(X, y, test_size=0.25, random_state=0)

#ランダムフォレスト
clf = RandomForestClassifier(max_depth=2, random_state=0)

clf.fit(X_train, y_train)

y_pred = clf.predict_proba(X_valid)[:,1]

# ROC曲線とROC曲線の下領域（AUC）
fpr, tpr, thresholds = roc_curve(y_valid, y_pred)

print('AUC : ',roc_auc_score(y_valid, y_pred))

AUC :  0.706178339254446

精度が一番いい