# データのお掃除

前回作成したcsvのデータをお掃除していきます。

In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.set_option('display.max_columns', 100)

In [3]:
df_rank = pd.read_csv('csv/j_rank_table_original.csv')
df_rank2 = pd.read_csv('csv/j_rank_table_has_st_original.csv')
df_schedule = pd.read_csv('csv/match_schedule_original.csv')

まず、「j_rank_table_original」について作業します

In [4]:
df = df_rank.copy()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16715 entries, 0 to 16714
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   16715 non-null  int64
 1   グラフ          16715 non-null  object
 2   順位           16715 non-null  object
 3   チーム          16715 non-null  object
 4   勝点           16715 non-null  int64
 5   試合           16715 non-null  int64
 6   勝            16715 non-null  int64
 7   分            16715 non-null  int64
 8   敗            16715 non-null  int64
 9   得点           16715 non-null  int64
 10  失点           16715 non-null  int64
 11  得失点差         16715 non-null  int64
 12  直近試合の勝敗      0 non-null      float64
 13  Unnamed: 12  1327 non-null   object
 14  Unnamed: 13  16715 non-null  int64
 15  year         16715 non-null  int64
 16  カテゴリ         16715 non-null  object
 17  節            16715 non-null  int64
dtypes: float64(1), int64(12), object(5)
memory usage: 2.3+ MB

In [5]:
df

,Unnamed: 0,グラフ,順位,チーム,勝点,試合,勝,分,敗,得点,失点,得失点差,直近試合の勝敗,Unnamed: 12,Unnamed: 13,year,カテゴリ,節
0,0,グラフ,1,ヴィッセル神戸,3,1,1,0,0,3,2,1,NaN,NaN,281,2012,J1,1
1,1,グラフ,2,ベガルタ仙台,3,1,1,0,0,1,0,1,NaN,NaN,41,2012,J1,1
2,2,グラフ,2,ＦＣ東京,3,1,1,0,0,1,0,1,NaN,NaN,130,2012,J1,1
3,3,グラフ,2,川崎フロンターレ,3,1,1,0,0,1,0,1,NaN,NaN,142,2012,J1,1
4,4,グラフ,2,名古屋グランパス,3,1,1,0,0,1,0,1,NaN,NaN,231,2012,J1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16710,15,グラフ,15,ガンバ大阪,0,1,0,0,1,0,1,-1,NaN,NaN,271,2021,J1,11
16711,16,グラフ,17,鹿島アントラーズ,0,1,0,0,1,1,3,-2,NaN,NaN,80,2021,J1,11
16712,17,グラフ,18,柏レイソル,0,1,0,0,1,0,2,-2,NaN,NaN,122,2021,J1,11
16713,18,グラフ,18,横浜Ｆ・マリノス,0,1,0,0,1,0,2,-2,NaN,NaN,143,2021,J1,11
16714,19,グラフ,20,横浜ＦＣ,0,1,0,0,1,1,5,-4,NaN,NaN,144,2021,J1,11

欠損値が含まれているカラム、不必要なカラムを削除します。

In [6]:
# 欠損値が含まれている列と数を抽出
drop_col = []
s = df.isnull().sum()
for i, n in enumerate(s.values):
    if(0<n):
        drop_col += [s.index[i]]
        print(s.index[i], n)

直近試合の勝敗 16715
Unnamed: 12 15388

In [7]:
df = df.drop(columns = drop_col)
df = df.drop(columns = ["Unnamed: 0", "グラフ", "Unnamed: 13"])

In [8]:
columns_list = ['year', '節', 'カテゴリ', 'チーム', '順位', '勝点', '試合', '勝', '分', '敗', '得点', '失点', '得失点差', ]
df = df.reindex(columns=columns_list)
df

       year   節 カテゴリ       チーム  順位  勝点  試合  勝  分  敗  得点  失点  得失点差
0      2012   1   J1   ヴィッセル神戸   1   3   1  1  0  0   3   2     1
1      2012   1   J1    ベガルタ仙台   2   3   1  1  0  0   1   0     1
2      2012   1   J1      ＦＣ東京   2   3   1  1  0  0   1   0     1
3      2012   1   J1  川崎フロンターレ   2   3   1  1  0  0   1   0     1
4      2012   1   J1  名古屋グランパス   2   3   1  1  0  0   1   0     1
...     ...  ..  ...       ...  ..  ..  .. .. .. ..  ..  ..   ...
16710  2021  11   J1     ガンバ大阪  15   0   1  0  0  1   0   1    -1
16711  2021  11   J1  鹿島アントラーズ  17   0   1  0  0  1   1   3    -2
16712  2021  11   J1     柏レイソル  18   0   1  0  0  1   0   2    -2
16713  2021  11   J1  横浜Ｆ・マリノス  18   0   1  0  0  1   0   2    -2
16714  2021  11   J1      横浜ＦＣ  20   0   1  0  0  1   1   5    -4

[16715 rows x 13 columns]

In [115]:
df2 = df_rank2.copy()
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1224 entries, 0 to 1223
Data columns (total 23 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   1224 non-null   int64
 1   グラフ          1224 non-null   object
 2   順位           1224 non-null   int64
 3   チーム          1224 non-null   object
 4   勝点           1224 non-null   int64
 5   試合           1224 non-null   int64
 6   勝            1224 non-null   int64
 7   分            1224 non-null   int64
 8   敗            1224 non-null   int64
 9   得点           1224 non-null   int64
 10  失点           1224 non-null   int64
 11  得失点差         1224 non-null   int64
 12  直近試合の勝敗      0 non-null      float64
 13  Unnamed: 12  0 non-null      float64
 14  Unnamed: 13  612 non-null    float64
 15  year         1224 non-null   int64
 16  カテゴリ         1224 non-null   object
 17  節            1224 non-null   int64
 18  stage        1224 non-null   object
 19  年間勝点順位       612 non-null    float64
 20  総勝点          612 non-null    float64
 21  Unnamed: 14  0 non-null      float64
 22  Unnamed: 15  612 non-null    float64
dtypes: float64(7), int64(12), object(4)
memory usage: 220.1+ KB

In [116]:
# 欠損値が含まれている列と数を抽出
drop_col = []
s = df2.isnull().sum()
for i, n in enumerate(s.values):
    if(0<n):
        drop_col += [s.index[i]]
        print(s.index[i], n)

直近試合の勝敗 1224
Unnamed: 12 1224
Unnamed: 13 612
年間勝点順位 612
総勝点 612
Unnamed: 14 1224
Unnamed: 15 612

In [117]:
df2 = df2.drop(columns = ["直近試合の勝敗", "Unnamed: 12", "Unnamed: 13", "Unnamed: 14", "Unnamed: 15"])
df2 = df2.drop(columns = ["Unnamed: 0", "グラフ"])

In [118]:
df2

,順位,チーム,勝点,試合,勝,分,敗,得点,失点,得失点差,year,カテゴリ,節,stage,年間勝点順位,総勝点
0,1,浦和レッズ,3,1,1,0,0,3,1,2,2015,J1,1,１ｓｔ,NaN,NaN
1,1,川崎フロンターレ,3,1,1,0,0,3,1,2,2015,J1,1,１ｓｔ,NaN,NaN
2,1,清水エスパルス,3,1,1,0,0,3,1,2,2015,J1,1,１ｓｔ,NaN,NaN
3,4,ベガルタ仙台,3,1,1,0,0,2,0,2,2015,J1,1,１ｓｔ,NaN,NaN
4,4,サンフレッチェ広島,3,1,1,0,0,2,0,2,2015,J1,1,１ｓｔ,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1219,14,ジュビロ磐田,13,17,2,7,8,16,27,-11,2016,J1,17,2ｓｔ,13.0,36.0
1220,15,名古屋グランパス,13,17,3,4,10,14,29,-15,2016,J1,17,2ｓｔ,16.0,30.0
1221,16,アルビレックス新潟,12,17,4,0,13,14,24,-10,2016,J1,17,2ｓｔ,15.0,30.0
1222,17,湘南ベルマーレ,11,17,3,2,12,12,29,-17,2016,J1,17,2ｓｔ,17.0,27.0
1223,18,アビスパ福岡,8,17,2,2,13,15,41,-26,2016,J1,17,2ｓｔ,18.0,19.0

In [119]:
columns_list = ['year', '節', 'カテゴリ', 'チーム', '順位', '勝点', '試合', 
                '勝', '分', '敗', '得点', '失点', '得失点差', 'stage', '年間勝点順位', '総勝点']
df2 = df2.reindex(columns=columns_list)
df2

,year,節,カテゴリ,チーム,順位,勝点,試合,勝,分,敗,得点,失点,得失点差,stage,年間勝点順位,総勝点
0,2015,1,J1,浦和レッズ,1,3,1,1,0,0,3,1,2,１ｓｔ,NaN,NaN
1,2015,1,J1,川崎フロンターレ,1,3,1,1,0,0,3,1,2,１ｓｔ,NaN,NaN
2,2015,1,J1,清水エスパルス,1,3,1,1,0,0,3,1,2,１ｓｔ,NaN,NaN
3,2015,1,J1,ベガルタ仙台,4,3,1,1,0,0,2,0,2,１ｓｔ,NaN,NaN
4,2015,1,J1,サンフレッチェ広島,4,3,1,1,0,0,2,0,2,１ｓｔ,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1219,2016,17,J1,ジュビロ磐田,14,13,17,2,7,8,16,27,-11,2ｓｔ,13.0,36.0
1220,2016,17,J1,名古屋グランパス,15,13,17,3,4,10,14,29,-15,2ｓｔ,16.0,30.0
1221,2016,17,J1,アルビレックス新潟,16,12,17,4,0,13,14,24,-10,2ｓｔ,15.0,30.0
1222,2016,17,J1,湘南ベルマーレ,17,11,17,3,2,12,12,29,-17,2ｓｔ,17.0,27.0
1223,2016,17,J1,アビスパ福岡,18,8,17,2,2,13,15,41,-26,2ｓｔ,18.0,19.0

In [120]:
def add_val(row1, row2, column):
    return row1[column].values[0] + row2[column].values[0]

j = 0
for i in range(df2.shape[0]):
    row_2st = df2.iloc[i:i+1]
    
    if row_2st["stage"].values[0] == "2ｓｔ":
        team = row_2st["チーム"].values[0]
        year = row_2st["year"].values[0]
        
        row_1st = df2[(df2["stage"]=="１ｓｔ") & (df2["チーム"]==team) & (df2["year"]==year) & (df2["節"]==17)]
        
        df2.iloc[i:i+1,4] = int(row_2st['年間勝点順位'])
        df2.iloc[i:i+1,5] = add_val(row_1st, row_2st, '勝点')
        df2.iloc[i:i+1,6] = add_val(row_1st, row_2st, '試合')
        df2.iloc[i:i+1,7] = add_val(row_1st, row_2st, '勝')
        df2.iloc[i:i+1,8] = add_val(row_1st, row_2st, '分')
        df2.iloc[i:i+1,9] = add_val(row_1st, row_2st, '敗')
        df2.iloc[i:i+1,10] = add_val(row_1st, row_2st, '得点')
        df2.iloc[i:i+1,11] = add_val(row_1st, row_2st, '失点')
        df2.iloc[i:i+1,12] = add_val(row_1st, row_2st, '得失点差')
        
    else:
        pass

In [122]:
df2 = df2.drop(columns = ["stage", "年間勝点順位", "総勝点"])

In [123]:
df2

      year   節 カテゴリ        チーム  順位  勝点  試合  勝   分   敗  得点  失点  得失点差
0     2015   1   J1      浦和レッズ   1   3   1  1   0   0   3   1     2
1     2015   1   J1   川崎フロンターレ   1   3   1  1   0   0   3   1     2
2     2015   1   J1    清水エスパルス   1   3   1  1   0   0   3   1     2
3     2015   1   J1     ベガルタ仙台   4   3   1  1   0   0   2   0     2
4     2015   1   J1  サンフレッチェ広島   4   3   1  1   0   0   2   0     2
...    ...  ..  ...        ...  ..  ..  .. ..  ..  ..  ..  ..   ...
1219  2016  17   J1     ジュビロ磐田  13  36  34  8  12  14  37  50   -13
1220  2016  17   J1   名古屋グランパス  16  30  34  7   9  18  38  58   -20
1221  2016  17   J1  アルビレックス新潟  15  30  34  8   6  20  33  49   -16
1222  2016  17   J1    湘南ベルマーレ  17  27  34  7   6  21  30  56   -26
1223  2016  17   J1     アビスパ福岡  18  19  34  4   7  23  26  66   -40

[1224 rows x 13 columns]

In [124]:
df = pd.concat([df, df2])

In [131]:
df.isnull().sum()

year    0
節       0
カテゴリ    0
チーム     0
順位      0
勝点      0
試合      0
勝       0
分       0
敗       0
得点      0
失点      0
得失点差    0
dtype: int64

一旦はこのくらいで良さそうです。
csv出力しておきます。

In [8]:
df2.to_csv("j_rank_table.csv")

次に、「match_schedule_original.csv」について作業します。

In [9]:
df = df_schedule.copy()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45253 entries, 0 to 45252
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      45253 non-null  int64
 1   年度              45253 non-null  int64
 2   大会              45253 non-null  object
 3   節               45204 non-null  object
 4   試合日             45253 non-null  object
 5   K/O時刻           44371 non-null  object
 6   ホーム             45253 non-null  object
 7   スコア             45253 non-null  object
 8   アウェイ            45253 non-null  object
 9   スタジアム           45253 non-null  object
 10  入場者数            43227 non-null  float64
 11  インターネット中継・TV放送  34845 non-null  object
 12  Team            45253 non-null  object
dtypes: float64(1), int64(2), object(10)
memory usage: 4.5+ MB

In [10]:
df

,Unnamed: 0,年度,大会,節,試合日,K/O時刻,ホーム,スコア,アウェイ,スタジアム,入場者数,インターネット中継・TV放送,Team
0,0,1997,ＹＮＣ 予選Ｂグループ,第１節第１日,03/08(土),15:01,Ｇ大阪,3-3,札幌,万博,10514.0,NaN,札幌
1,1,1997,ＹＮＣ 予選Ｂグループ,第２節第１日,03/15(土),16:02,札幌,2-2,Ｖ川崎,長崎,4823.0,NaN,札幌
2,2,1997,ＹＮＣ 予選Ｂグループ,第３節第１日,03/19(水),19:01,横浜M,1-3,札幌,三ツ沢,5121.0,NaN,札幌
3,3,1997,ＹＮＣ 予選Ｂグループ,第４節第１日,03/22(土),15:00,Ｖ川崎,2-2,札幌,等々力,6940.0,NaN,札幌
4,4,1997,ＹＮＣ 予選Ｂグループ,第５節第１日,03/26(水),19:00,札幌,1-2,横浜M,長良川,2913.0,NaN,札幌
...,...,...,...,...,...,...,...,...,...,...,...,...,...
45248,64,2015,Ｊ３,第３４節第２日,10/18(日),13:05,富山,2-1,J-22,富山,2270.0,NaN,J-22
45249,65,2015,Ｊ３,第３５節第１日,10/25(日),13:00,藤枝,1-4,J-22,エコパ,858.0,NaN,J-22
45250,66,2015,Ｊ３,第３６節第２日,11/01(日),13:04,長野,2-1,J-22,南長野,4163.0,信越放送,J-22
45251,67,2015,Ｊ３,第３７節第１日,11/08(日),13:00,福島,3-0,J-22,とうスタ,791.0,NaN,J-22
45252,68,2015,Ｊ３,第３８節第２日,11/14(土),12:04,山口,0-0,J-22,維新公園,6322.0,山口朝日放送,J-22

欠損値を確認します。

In [11]:
# 欠損値が含まれている列と数を抽出
drop_col = []
s = df.isnull().sum()
for i, n in enumerate(s.values):
    if(0<n):
        drop_col += [s.index[i]]
        print(s.index[i], n)

節 49
K/O時刻 882
入場者数 2026
インターネット中継・TV放送 10408

「節」に欠損値があるのは想定外なので確認してみます。

In [12]:
df[df["節"].isna()]["大会"].value_counts()

ＦＵＪＩ　ＸＥＲＯＸ　ＳＵＰＥＲ　ＣＵＰ    26
ゼロックススーパーカップ            20
明治安田ワールドチャレンジ            3
Name: 大会, dtype: int64

どうやら、Jリーグ以外の大会での試合の場合に欠損しているだけのようです。  
これは問題ないので、「節」以外の欠損値が含まれる列を削除します。

In [13]:
df2 = df.drop(columns = ["Unnamed: 0", "K/O時刻", "入場者数","インターネット中継・TV放送", "Team"])

In [14]:
df2

         年度           大会        節       試合日  ホーム  スコア  アウェイ スタジアム
0      1997  ＹＮＣ 予選Ｂグループ   第１節第１日  03/08(土)  Ｇ大阪  3-3    札幌    万博
1      1997  ＹＮＣ 予選Ｂグループ   第２節第１日  03/15(土)   札幌  2-2   Ｖ川崎    長崎
2      1997  ＹＮＣ 予選Ｂグループ   第３節第１日  03/19(水)  横浜M  1-3    札幌   三ツ沢
3      1997  ＹＮＣ 予選Ｂグループ   第４節第１日  03/22(土)  Ｖ川崎  2-2    札幌   等々力
4      1997  ＹＮＣ 予選Ｂグループ   第５節第１日  03/26(水)   札幌  1-2   横浜M   長良川
...     ...          ...      ...       ...  ...  ...   ...   ...
45248  2015           Ｊ３  第３４節第２日  10/18(日)   富山  2-1  J-22    富山
45249  2015           Ｊ３  第３５節第１日  10/25(日)   藤枝  1-4  J-22   エコパ
45250  2015           Ｊ３  第３６節第２日  11/01(日)   長野  2-1  J-22   南長野
45251  2015           Ｊ３  第３７節第１日  11/08(日)   福島  3-0  J-22  とうスタ
45252  2015           Ｊ３  第３８節第２日  11/14(土)   山口  0-0  J-22  維新公園

[45253 rows x 8 columns]

次に、「節」の "第○節第×日" を "○" にします。

In [15]:
import re

section_list = []
for i, row in df2.iterrows():
    tar_str = row["節"]
    if tar_str is np.nan:
        section_list += [0]
    else:
        section_m = re.findall('第(.*)節', tar_str)
        if len(section_m) == 0:
            section_list += [0]
        else:
            section_list += section_m

df2.drop(columns = ["節"], inplace = True)
df2 = df2.assign(節 = section_list)

In [16]:
df2

         年度           大会       試合日  ホーム  スコア  アウェイ スタジアム   節
0      1997  ＹＮＣ 予選Ｂグループ  03/08(土)  Ｇ大阪  3-3    札幌    万博   １
1      1997  ＹＮＣ 予選Ｂグループ  03/15(土)   札幌  2-2   Ｖ川崎    長崎   ２
2      1997  ＹＮＣ 予選Ｂグループ  03/19(水)  横浜M  1-3    札幌   三ツ沢   ３
3      1997  ＹＮＣ 予選Ｂグループ  03/22(土)  Ｖ川崎  2-2    札幌   等々力   ４
4      1997  ＹＮＣ 予選Ｂグループ  03/26(水)   札幌  1-2   横浜M   長良川   ５
...     ...          ...       ...  ...  ...   ...   ...  ..
45248  2015           Ｊ３  10/18(日)   富山  2-1  J-22    富山  ３４
45249  2015           Ｊ３  10/25(日)   藤枝  1-4  J-22   エコパ  ３５
45250  2015           Ｊ３  11/01(日)   長野  2-1  J-22   南長野  ３６
45251  2015           Ｊ３  11/08(日)   福島  3-0  J-22  とうスタ  ３７
45252  2015           Ｊ３  11/14(土)   山口  0-0  J-22  維新公園  ３８

[45253 rows x 8 columns]

次に、年度、試合日を yyyyMMdd の形式にします。

In [18]:
import re

MMdd_list = []
for i, row in df2.iterrows():
    year = str(row["年度"])
    tar_str = row["試合日"]
    if tar_str == "未定":
        MMdd_list += [tar_str]
    else:
        month = re.findall('(.*)/', tar_str)[0]
        day = re.findall('/(.*)\(', tar_str)[0]
        MMdd_list += [year+month+day]

df2.drop(columns = ["試合日", "年度"], inplace = True)
df2 = df2.assign(試合日 = MMdd_list)

In [19]:
# 重複の削除
df2.drop_duplicates(inplace=True)

In [20]:
df2

                大会   ホーム  スコア  アウェイ スタジアム   節       試合日
0      ＹＮＣ 予選Ｂグループ   Ｇ大阪  3-3    札幌    万博   １  19970308
1      ＹＮＣ 予選Ｂグループ    札幌  2-2   Ｖ川崎    長崎   ２  19970315
2      ＹＮＣ 予選Ｂグループ   横浜M  1-3    札幌   三ツ沢   ３  19970319
3      ＹＮＣ 予選Ｂグループ   Ｖ川崎  2-2    札幌   等々力   ４  19970322
4      ＹＮＣ 予選Ｂグループ    札幌  1-2   横浜M   長良川   ５  19970326
...            ...   ...  ...   ...   ...  ..       ...
44953           Ｊ３  Ｇ大23  0-2  Ｃ大23   吹田Ｓ  ３４  20181202
44970           Ｊ３  Ｃ大23  1-4  Ｇ大23  ヤンマー  １７  20190721
44981           Ｊ３  Ｇ大23  1-2  Ｃ大23  パナスタ  ２８  20191027
44989           Ｊ３  Ｇ大23  0-0  Ｃ大23  パナスタ   ２  20200705
45010           Ｊ３  Ｃ大23  1-1  Ｇ大23  ヤンマー  ２３  20201025

[22637 rows x 7 columns]

In [21]:
columns_list = ['試合日', '節', '大会', 'ホーム', 'スコア', 'アウェイ', 'スタジアム']
df2 = df2.reindex(columns=columns_list)
df2

       年度       試合日   節           大会   ホーム  スコア  アウェイ スタジアム
0     NaN  19970308   １  ＹＮＣ 予選Ｂグループ   Ｇ大阪  3-3    札幌    万博
1     NaN  19970315   ２  ＹＮＣ 予選Ｂグループ    札幌  2-2   Ｖ川崎    長崎
2     NaN  19970319   ３  ＹＮＣ 予選Ｂグループ   横浜M  1-3    札幌   三ツ沢
3     NaN  19970322   ４  ＹＮＣ 予選Ｂグループ   Ｖ川崎  2-2    札幌   等々力
4     NaN  19970326   ５  ＹＮＣ 予選Ｂグループ    札幌  1-2   横浜M   長良川
...    ..       ...  ..          ...   ...  ...   ...   ...
44953 NaN  20181202  ３４           Ｊ３  Ｇ大23  0-2  Ｃ大23   吹田Ｓ
44970 NaN  20190721  １７           Ｊ３  Ｃ大23  1-4  Ｇ大23  ヤンマー
44981 NaN  20191027  ２８           Ｊ３  Ｇ大23  1-2  Ｃ大23  パナスタ
44989 NaN  20200705   ２           Ｊ３  Ｇ大23  0-0  Ｃ大23  パナスタ
45010 NaN  20201025  ２３           Ｊ３  Ｃ大23  1-1  Ｇ大23  ヤンマー

[22637 rows x 8 columns]

ここら辺で終わりにします。

In [22]:
df2.to_csv("j_match_schedule.csv")